.ag-header-cell-label {
    justify-content: center;
}

.ag-row .ag-cell {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.chart-and-selector-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ButtonandSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
}